body {
  padding: 0 2em;
  font-family: Verdana;
  background: #111111;
  color: #FFFFFF;
}
table {
  padding: 3px;
  border-spacing: 5px;
  margin: 0px auto;
  max-width: 100%;
  min-width:100%;
}
table tr {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}
table th {
  color: #50FC53;
  background-color: #333;
  border-radius: 10px;
}
table th, table td {
  text-align: center;
  display: table-cell;
  padding: 10px 5px;
}
table tr:last-child td{
  text-align: center;
  padding: 20px !important;
  color: #50FC53;
  background-color: #333;
  border-radius: 10px;
}